# Postgres, Django
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_USER=notice
POSTGRES_PASSWORD=password
POSTGRES_DB=notice_database
DJANGO_SUPERUSER_PASSWORD=admin
DJANGO_SUPERUSER_USERNAME=admin
DJANGO_SUPERUSER_EMAIL=admin@localhost

CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/1

#Django params
DEBUG=False
SECRET_KEY=secret-secret

#Sender params
SMS_SERVICE=https://probe.fbrq.cloud/v1/send
SMS_SERVICE_TOKEN=secret-token

